@page
@model WebApp.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].MaidenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].BloodGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].EyeColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaidenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EyeColor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
